<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista Unidad de Medida" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
            <h5 class="mb-3">
                <a href ="nuevaunidadmedida" class="btn btn-outline-dark">Nueva Unidad de Medida</a>
            </h5>
            <div class="card tbl-card">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Detalle</th>
                      <th>Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (unidadmedida of listaUnidadMedida; track $index) {
                      <tr>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ unidadmedida.Detalle }}</td>
                        <td>{{ unidadmedida.Tipo }}</td>
                                   
                        <td>
                          <button type="button" class="btn btn-outline-success" [routerLink]="['/editarunidadmedida/', unidadmedida.idUnidad_Medida]">
                           Editar
                          </button>
                          <button
                            (click)="eliminar(unidadmedida.idUnidad_Medida)"
                            type="button"
                            class="btn btn-outline-danger"                         
                          >
                            Eliminar
                          </button>
                        </td>
                      </tr>
                      }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </app-card>
    </div>
  </div>

<!-- <div class="card">
  <div class="card-header">
    <h5>{{ title }}</h5>
  </div>
  <div class="card-body table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Detalle</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unidad of listaUnidadMedida">
            <td>{{ unidad.idUnidad_Medida }}</td>
            <td>{{ unidad.Detalle }}</td>
            <td>
              {{ unidad.Tipo === '0' ? 'Presentación' : 
                 unidad.Tipo === '1' ? 'Unidad de Medida' : 
                 unidad.Tipo === '2' ? 'Factor de Conversión' : 'Desconocido' }}
            </td>
            <td>
              <button class="btn btn-primary btn-sm me-2" [routerLink]="['/nuevaunidadmedida', unidad.idUnidad_Medida]">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="eliminar(unidad.idUnidad_Medida)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
-->